<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form method="post">
  <input type="text" name="caption" placeholder="Заголовок">
  <input type="text" name="comm" placeholder="Текст комментария">
  <input type="text" name="author" placeholder="Автор комментария">
  <label>Оценка:</label>
  <label for="one">1</label>
  <input type="radio" id="one" name="mark" value="1">
  <label for="two">2</label>
  <input type="radio" id="two" name="mark" value="2">
  <label for="three">3</label>
  <input type="radio" id="three" name="mark" value="3">
  <label for="four">4</label>
  <input type="radio" id="four" name="mark" value="4">
  <label for="five">5</label>
  <input type="radio" id="five" name="mark" value="5">
  <input type="datetime-local" name="time" placeholder="Дата">
  <button type="submit">Добавить комментарий</button>
</form>
</body>
</html>